-- Home
return {
  workspaces = {
  ["1"] = { icon = "1", name = "Web" },
  ["2"] = { icon = "2", name = "Code" },
  ["3"] = { icon = "3", name = "Music" },
  ["4"] = { icon = "4", name = "Files" },
  ["5"] = { icon = "5", name = "Terminal" },
  ["6"] = { icon = "6", name = "Productivity" },
  ["7"] = { icon = "7", name = "Misc" },
  },
  order = { "1", "2", "3", "4", "5", "6", "7"}
}