-- Work
return {
  workspaces = {
    ["1"] = { icon = "1", name = "Chat" },
    ["2"] = { icon = "2", name = "Web" },
    ["3"] = { icon = "3", name = "Code" },
    ["4"] = { icon = "4", name = "Terminal" },
    ["5"] = { icon = "5", name = "Misc" },
    ["6"] = { icon = "6", name = "Personal" },
  },
  order = { "1", "2", "3", "4", "5", "6"}
}
